.accordion-item {
  border: 1px solid #ccc;
  width: 1080px;
  border-radius: 4px;
  margin-top: 100px;
  margin-left: 200px;
}

.accordion-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.accordion-header:hover {
  background-color: #f1f1f1;
}

.accordion-arrow {
  transition: transform 0.3s ease;
  margin-left: 10px;
}

/* Класс для поворота стрелки на 180 градусов (вверх) */
.accordion-arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: #ffffff;
  max-height: 0;
  width: 1080px;
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* Плавное скрытие/появление */
}

/* Класс для отображения контента */
.accordion-content.show {
  max-height: 600px; /* Должно быть достаточно большим для контента */
  font-size: 19px;
}

.accordion-body {
  padding: 15px;
  border-top: 1px solid #eee;
  background-color: #fff;
}
